/*Universal*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto';
}

html{
    font-size: 62.5%;
    background: #d1913c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d1913c, #ffd194); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fff9f2, #fce7ca);
}


:root{
    --primary-color: #8d4925;
    --secondary-color: #c57d56;
    --tertiary-color:#ffb48a;
    --quaternary-color:#f0ecec;
    --quintinary-color:#ffffff;
}


/*Loader de pagina*/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px; /*Estos dos apartados "weidth" y "height" es el tamaño para la figura, esto aplica en todas las veces que aparecen, es largo y alto respectivamanete*/
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Hasta aqui termina el codigo para solamente la animacion del circulo girando */

.loader{
    /* Este apartado indica el fondo de la animacion mencionada antes y como se comportara*/
    background: #000; /* Color del fondo de la animacion*/
    width: 100%; /* Esta linea y la siguiente indican que el fondo cubra todo el largo y alto de la pagina*/
    height: 100vh;
    display: flex;
    justify-content: center; /* Esta linea y la siguiente realizan el centrado del circulo en la pagina*/
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000; /* Se inidica que la pantalla de carga debe de estar por encima de todo lo que tenga la pagina, el numero debe ser muy alto para que esto se cumpla*/
    
    /*En esta pagina web se encuentran distintos diseños (figuras) para la animacion de desaparicion de carga: https://bennettfeely.com/clippy/ */

    clip-path: circle(150% at 100% 0); /* Indica que tanto cubre el fondo de la animacion en la pagina (donde inicia)*/
    transition: clip-path 0.8s ease-in-out; /* Es la transicion y el tiempo que le tomara realizar dicha transicion para quitarse*/
}

.loader2{ /* Se crea este segundo elemento para la desaparicion de la animacion de carga */
    clip-path: circle(0% at 100% 0); /* Indica que tanto cubre el fondo de la animacion en la pagina (donde termina)*/
    /* Para este apartado, se necesita de la ayuda de JavaScript para que se cuumpla esto correctamente*/
}


/*Cuerpo general*/
header{
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-shadow:1px 0.5px 0.1px black;
}

.nav-conteiner{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    padding: 1rem;
}
.div-conteiner{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vw 0vh 3vw;
}
.div-conteiner a:hover{
    color: rgba(240, 255, 254, 0.836);
    text-decoration: underline;
}
.nav-conteiner::before{
    display: block;
    background: #ffffff;
    height: 1px;
    width: 100%;
    top: 0;
    content: "";
    margin-bottom: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.9rem 0.1rem rgba(0, 0, 0, 0.377);
}

.div-companyName{
    background-image: url(./img/boxha_logo.png);
    background-position:left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 10vh;
    width: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--quintinary-color);
}

.nav-conteiner .icons p{
    display: inline-block;
    margin: 1vh;
    font-size: 1.6rem;
}

.nav-conteiner .icons i{
    font-size: 1.3rem;
}

.div-slogan{
    color: var(--quintinary-color);
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration:none;
    font-style: italic;
}

.div-userName{
    color: var(--quintinary-color);
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration:none;
}

.div-exit{
    display:block;
    color: var(--quintinary-color);
    font-size: 1rem;
    font-weight: 400;
    text-decoration:none;
    padding-top: 1rem;
}

.nav-conteiner a{
    color: var(--quintinary-color);
    text-decoration: none;
    padding: 1vh 1vw;
}

.nav-conteiner a::before{
    display: block;
    background: var(--quintinary-color);
    height: 5px;
    width: 0%;
    top: 0;
    content: "";
    margin-bottom: 0.5rem;
    transition: width 1s;
}

.nav-conteiner a:hover{
    font-size: 1.2rem;
    background-color: rgba(255, 128, 24, 0.36);
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #f0ecec59;
}

.nav-conteiner a:hover::before{
    width: 100%;   
}

main{
    height: auto;
}

footer{
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.div-conteiner-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap column;
    padding: 1rem;
}

.fa-square{
    color: var(--quintinary-color);
    text-shadow:1px 0.5px 0.1px rgba(0, 0, 0, 0.562);
}

.div-conteiner-footer h3{
    font-size: 1.5rem;
    color: var(--quaternary-color);
    font-style: italic;
    font-weight: 400;
    text-shadow:1px 0.5px 0.1px black;
}

.div-conteiner-footer a{
    padding: 0.5rem;
}
.div-conteiner-footer::before{
    display: block;
    background-color: #ffffff;
    content:"";
    width: 100%;
    height: 0.3vh;
    border-radius: 1vmax;
    box-shadow: 0.5rem 0.5rem 0.9rem 0.1rem rgba(0, 0, 0, 0.377);
}

.div-conteiner-footer span:hover{
    padding: 0.25rem;
    background-color: rgba(255, 128, 24, 0.36);
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #f0ecec59;
}

.logo{
    width: 15rem;
    height: auto;
}
main{
    min-height: 100vh;
    background-image: url(./img/fondo);
    background-size: cover;
    background-repeat: no-repeat;
}
.storage-grid-conteiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "titulos titulos titulos"
    "leftside leftside rightside"
    "textos textos textos"
    ;
}
.titulos{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    grid-area: titulos;
    text-align: center;
    font-weight: bolder;
    font-size: 3rem;
    text-shadow:1px 2px 0.3px rgba(146, 146, 146, 0.781);
    height: auto;
}

.titulos h4{
    border:solid rgb(255, 255, 255);
    padding: 2vh 4vw;
    font-size: 4rem;
    font-weight: 600;
    color: var(--quintinary-color);
    box-shadow: 0.2rem -0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.377);
    text-shadow:3px 3px 0.5px rgba(0, 0, 0, 0.562);
}
.leftside h4{
    font-size: 2rem;
    padding: 1vh 2vw;
}



.leftside{
    display: flex;
    align-items: center;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.377);
    font-size: 1.2rem;
    font-weight: 500;
    flex-flow: column wrap;
    border: solid rgba(15, 13, 13, 0.226);
    text-shadow:1px 0.5px 0.1px rgba(146, 146, 146, 0.336);
    border-radius: 1rem;
    grid-area: leftside;
    margin: 1vh 1vw;
}

.rightside{
    display: flex;
    align-items: center;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.377);
    font-size: 1.2rem;
    font-weight: 500;
    border: solid rgba(15, 13, 13, 0.226);
    text-shadow:1px 0.5px 0.1px rgba(146, 146, 146, 0.336);
    border-radius: 1rem;
    grid-area: rightside;
    margin: 1vh 1vw;
    flex-flow: column wrap;
}
.rightside h4{
    font-size: 2rem;
    padding: 1vh 2vw;
}
.productos{
    width: 90%;
    display: flex;
    align-items: center;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345c0, #232526be);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345c7, #232526c4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    flex-flow: row wrap;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.377);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1vh 1vw;
    border: solid rgba(15, 13, 13, 0.226);
    text-shadow:1px 0.5px 0.1px rgba(146, 146, 146, 0.336);
    border-radius: 1rem;
    grid-area: rightside;
    margin: 1vh 1vw;
    color: var(--quintinary-color);
    text-align: center;
}

.productos p{
    width: 20%;
    margin: 1vh 1vw;
}

.botones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.send{
    box-sizing: border-box;
    background-color: rgba(5, 205, 255, 0.863);
    border: solid rgba(255, 255, 255, 0.247);
    border-radius: 60px;
    padding: 1vh 1vw;
    margin: 1vh 0;
    height: auto;
    color: #ffffff;
    box-shadow: 0.5rem 0.5rem 1.5rem 0.1rem rgba(0, 0, 0, 0.377);
    text-shadow:1px 0.5px 0.1px rgba(0, 0, 0, 0.562);
    border: solid rgba(0, 0, 0, 0.377);
    text-align: center;
}

.input{
    box-sizing: border-box;
    width: 50%;
    margin: 1vh 0;
    padding: 1vh 1vw;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.377);
    box-shadow: 0.5rem 0.5rem 1.5rem 0.1rem rgba(0, 0, 0, 0.377);
}

.pro{
    border: 0;
}

.pre{
    border: 0;
}


.send:hover{
    background-color: rgb(92, 179, 194);
}

.send:active{
    background-color: rgb(0, 255, 234);
}

.textos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    grid-area: textos;
    margin: 2vh 2vw;
    color: var(--quintinary-color);
    font-size: 2rem;
    font-weight: 500;
    text-shadow:1px 0.5px 0.1px rgba(146, 146, 146, 0.336);
    text-align: center;
}
.rightside div{
    width: 90%;
    display: flex;
    align-items: center;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345c0, #232526be);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345c7, #232526c4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: center;
    flex-flow: row wrap;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.1rem rgba(0, 0, 0, 0.377);
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0.5vh 0.5vw;
    border: solid rgba(15, 13, 13, 0.226);
    text-shadow:1px 0.5px 0.1px rgba(146, 146, 146, 0.336);
    border-radius: 1rem;
    grid-area: rightside;
    margin: 1vh 1vw;
    color: var(--quintinary-color);
    text-align: center;
}
.rightside p{
    width: 20%;
    margin: 1vh 1vw;
}
.can{
    background-color: rgba(201, 26, 56, 0.863);
    box-sizing: border-box;
    border: solid rgba(255, 255, 255, 0.247);
    border-radius: 60px;
    padding: 1vh 1vw;
    margin: 1vh 0;
    height: auto;
    color: #ffffff;
    box-shadow: 0.5rem 0.5rem 1.5rem 0.1rem rgba(0, 0, 0, 0.377);
    text-shadow:1px 0.5px 0.1px rgba(0, 0, 0, 0.562);
    border: solid rgba(0, 0, 0, 0.377);
    text-align: center;
}
.can:hover{
    background-color: rgb(194, 92, 126);
}
.can:active{
    background-color: rgb(255, 0, 0);
}